<div class="mt-4">
    <h3>Khóa học của tôi</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                {{!-- Viết hàm cộng 2 số để tăng index lên 1 đ.vị, do index b.đầu từ 0 => Sử dụng helpers của
                express-handlebar (cấu hình trong file src/index) => sum @index 1 có nghĩa là sum(@index, 1)--}}
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>